In [1]:
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

1. Spark Dataframe Basics

i. Use the starter code above to create a pandas dataframe.

ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

In [3]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [4]:
spark

In [5]:
df = spark.createDataFrame(pandas_dataframe)
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

iii. Show the first 3 rows of the dataframe.

In [6]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

iv. Show the first 7 rows of the dataframe.

In [7]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

v. View a summary of the data using .describe.

In [25]:
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885217| null|
| stddev|0.8905322898155363| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

vi. Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [17]:
df1 = df.select('n','abool')
df1.show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

vii. Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.

In [18]:
df2 = df.select('group','abool')
df2.show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

viii. Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [19]:
col = df.abool
df3 = df.select('group', col.alias('a_boolean_value'))
df3.show(5)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
|    y|          false|
|    z|          false|
+-----+---------------+
only showing top 5 rows

In [20]:
type(df3)

pyspark.sql.dataframe.DataFrame

ix. Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [21]:
col = df.n
df4 = df.select('group', col.alias('a_numeric_value'))
df4.show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

2. Column Manipulation

i. Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df

ii. Use .select to add 4 to the n column. Show the results

In [22]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [35]:
col = df.n + 4

In [39]:
df.select('*', col.alias('n_add_4')).show()

+--------------------+-----+-----+-------------------+
|                   n|group|abool|            n_add_4|
+--------------------+-----+-----+-------------------+
|  -0.712390662050588|    z|false| -5.712390662050588|
|   0.753766378659703|    x|false| -4.246233621340297|
|-0.04450307833805...|    z|false| -5.044503078338053|
| 0.45181233874578974|    y|false|  -4.54818766125421|
|  1.3451017084510097|    z|false|-3.6548982915489905|
|  0.5323378882945463|    y|false| -4.467662111705454|
|  1.3501878997225267|    z|false|-3.6498121002774733|
|  0.8612113741693206|    x|false|  -4.13878862583068|
|  1.4786857374358966|    z| true| -3.521314262564103|
| -1.0453771305385342|    y| true| -6.045377130538534|
| -0.7889890249515489|    x|false| -5.788989024951549|
|  -1.261605945319069|    y|false| -6.261605945319069|
|  0.5628467852810314|    y| true| -4.437153214718968|
|-0.24332625188556253|    y| true| -5.243326251885563|
|  0.9137407048596775|    y|false| -4.086259295140323|
| 0.31735092273633597|    x|false| -4.682649077263664|
| 0.12730328020698067|    z|false| -4.872696719793019|
|  2.1503829673811126|    y| true|-2.8496170326188874|
|  0.6062886568962988|    x|false| -4.393711343103702|
|-0.02677164998644...|    x| true| -5.026771649986441|
+--------------------+-----+-----+-------------------+

iii. Subtract 5 from the n column and view the results.

In [38]:
col = df.n - 5

In [40]:
df.select('*', col.alias('n_minus_5')).show()

+--------------------+-----+-----+-------------------+
|                   n|group|abool|          n_minus_5|
+--------------------+-----+-----+-------------------+
|  -0.712390662050588|    z|false| -5.712390662050588|
|   0.753766378659703|    x|false| -4.246233621340297|
|-0.04450307833805...|    z|false| -5.044503078338053|
| 0.45181233874578974|    y|false|  -4.54818766125421|
|  1.3451017084510097|    z|false|-3.6548982915489905|
|  0.5323378882945463|    y|false| -4.467662111705454|
|  1.3501878997225267|    z|false|-3.6498121002774733|
|  0.8612113741693206|    x|false|  -4.13878862583068|
|  1.4786857374358966|    z| true| -3.521314262564103|
| -1.0453771305385342|    y| true| -6.045377130538534|
| -0.7889890249515489|    x|false| -5.788989024951549|
|  -1.261605945319069|    y|false| -6.261605945319069|
|  0.5628467852810314|    y| true| -4.437153214718968|
|-0.24332625188556253|    y| true| -5.243326251885563|
|  0.9137407048596775|    y|false| -4.086259295140323|
| 0.31735092273633597|    x|false| -4.682649077263664|
| 0.12730328020698067|    z|false| -4.872696719793019|
|  2.1503829673811126|    y| true|-2.8496170326188874|
|  0.6062886568962988|    x|false| -4.393711343103702|
|-0.02677164998644...|    x| true| -5.026771649986441|
+--------------------+-----+-----+-------------------+

iv. Multiply the n column by 2. View the results along with the original numbers.

In [41]:
col = df.n * 2

In [43]:
df.select('n', col.alias('n_times_2')).show()

+--------------------+--------------------+
|                   n|           n_times_2|
+--------------------+--------------------+
|  -0.712390662050588|  -1.424781324101176|
|   0.753766378659703|   1.507532757319406|
|-0.04450307833805...|-0.08900615667610691|
| 0.45181233874578974|  0.9036246774915795|
|  1.3451017084510097|  2.6902034169020195|
|  0.5323378882945463|  1.0646757765890926|
|  1.3501878997225267|  2.7003757994450535|
|  0.8612113741693206|  1.7224227483386412|
|  1.4786857374358966|   2.957371474871793|
| -1.0453771305385342| -2.0907542610770684|
| -0.7889890249515489| -1.5779780499030978|
|  -1.261605945319069|  -2.523211890638138|
|  0.5628467852810314|  1.1256935705620628|
|-0.24332625188556253|-0.48665250377112507|
|  0.9137407048596775|   1.827481409719355|
| 0.31735092273633597|  0.6347018454726719|
| 0.12730328020698067| 0.25460656041396135|
|  2.1503829673811126|   4.300765934762225|
|  0.6062886568962988|  1.2125773137925977|
|-0.02677164998644...|-0.05354329997288145|
+--------------------+--------------------+

v. Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [44]:
col = df.n * (-1)

In [47]:
df_n2 = df.select('n', col.alias('n2'))

df_n2.show(4)

+--------------------+--------------------+
|                   n|                  n2|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
+--------------------+--------------------+
only showing top 4 rows

vi. Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [48]:
col = df.n ** 2

In [50]:
df_n3 = df_n2.select('n','n2', col.alias('n3'))

df_n3.show(5)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097| -1.3451017084510097|  1.8092986060778251|
+--------------------+--------------------+--------------------+
only showing top 5 rows

vii.What happens when you run the code below?

In [52]:
df.group + df.abool

Column<'(group + abool)'>

- group and abool columns are combined into one column

viii. What happens when you run the code below? What is the difference between this and the previous code sample?

In [53]:
df.select(df.group + df.abool)

AnalysisException: cannot resolve '(CAST(`group` AS DOUBLE) + `abool`)' due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean).;
'Project [(cast(group#1 as double) + abool#2) AS (group + abool)#715]
+- LogicalRDD [n#0, group#1, abool#2], false

In [59]:
df.select('*')

DataFrame[n: double, group: string, abool: boolean]

- You get an error because you can't add a string and boolean data type?

ix. Try adding various other columns together. What are the results of combining the different data types?